<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Informace z hodnotícího portálu</title>
    <style>
    </style>
</head>
<body>
{$message|noescape}

<hr>
<small>Tato zpráva je zaslána z portálu: <a href="{$link}">{$link}</a></small>

</body>
</html>