<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Registrace uživatele</title>
    <style>
    </style>
</head>
<body>
<p>Dobrý den,</p>

<p>obnovili jsem Vaše heslo v aplikaci <b>Evaluační aplikaci pedagogické diagnostiky a intervence</b>.</p>

<p>Email pro přihlášení: {$email}<br>
   Heslo: {$password}
</p>

<p>Přihlásit se do aplikace a změnit si heslo můžete na tomto
    <a href="{$link}">odkazu</a>.</p>

<p>Mějte hezký den...</p>

</body>
</html>