{**
 * Error - template zobrazení chybové stránky
 * @author     Ondra310
 * @package    vapolDPrice
 * @copyright (c) 11/2012, Ondra310
 *
 * @param boolean $robots - zakážu indexování roboty
 *}

{var $robots = false}

{block #content}

<h1>{_"*Stránka nenalezena"}</h1>

<p>{_"*Vámi požadovaná stránka byla ze serveru již odstraněna."} {_"*Omlouváme se za vzniklé potíže."}</p>

<p><small>{_"*chyba"} 410</small></p>
